/* Baaner styles */

.banner-content {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-right: 120px;
  padding-top: 200px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.banner-title {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-description {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.banner-btn {
  font-size: large;
  /* width: 160px;
  height: 64px; */
  padding: 16px;
  margin: 0;
  color: #005fac;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
